@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --primary-color: #faebc2;
    --blue-color: #1c1777;
    --orange-color: #f75700;
    --green-color: #30c038;
    --gray-color: #9c937d;
    --font-300: "Poppins", sans-serif;
    font-weight: 300;
    --font-400: "Poppins", sans-serif;
    font-weight: 400;
    --font-500: "Poppins", sans-serif;
    font-weight: 500;
    --font-600: "Poppins", sans-serif;
    font-weight: 600;
    --font-700: "Poppins", sans-serif;
    font-weight: 700;
    --font-800: "Poppins", sans-serif;
    font-weight: 800;
    --font-900: "Poppins", sans-serif;
    font-weight: 900;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke!important;
    font-family: var(--font-300);
    color: var(--blue-color);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--blue-color);
    font-family: var(--font-300);
}

.container{
    position: relative;
    background-color: transparent;
    padding: 0 3rem;
    text-align: center;
    margin-top: 4rem;
}

.inner-text{
    right: 10%;
    top: 10px;
    bottom: 20px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--gray-color);
    opacity: 1;
    background-color: transparent;
    font-style: var(--font-500);
    text-align: center;
}

.sih{
    background-color: transparent;
    color: black;
    padding-bottom: 20px;
    font-size: 50px;
}

@media (max-width: 768px) {
    .inner-text {
        right: 5%;
        left: 5%;
    }
}

@media (max-width: 576px) {
    .inner-text {
        right: 3%;
        left: 3%;
        padding: 10px;
    }
}