body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    
}

.inner-text{
    position: absolute;
    right: 10%;
    top: 10px;
    bottom: 20px;
    left: 10%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    opacity: 1;
    background-color: transparent;
    text-align: center;
}

.sih{
    text-shadow: 4px 3px 4px black;
}
.about{
    text-align: justify;
    font-family: 'poppins';
    font-weight: 300;
    padding-bottom: 50px;
}

@media (max-width: 768px) {
    .inner-text {
        right: 5%;
        left: 5%;
    }
}

@media (max-width: 576px) {
    .inner-text {
        right: 3%;
        left: 3%;
        padding: 10px;
    }
}