/* Glassmorphism card effect */
.card-glass {
    padding: 7rem 2rem 2rem 2rem;
    background-color: #fff6ee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-fontsize {
    color: black !important;
    font-family: var(--font-300);
    font-size: 100px;
}

.h2{
    padding: 3rem;
}


.counter {
    flex: 1;
}

.logo-sih {
    flex: 0;
}
