.guideline {
  margin: 1rem 2rem 2rem 2rem;
  padding: 2rem;
  border-radius: 10px;
  background-color: #eeeeff;
  padding: 1.05rem 4rem;
}
.guideHeading {
  font-size: 3rem;
  margin: 3rem 0 0 0;
}
.guideTitle {
  font-weight: 700;
  color: black;
  margin-bottom: 0.3rem;
}
.guideDescription {
  font-weight: 500;
}
li {
  margin: 1rem;
}

/* Description */
.guideDescription {
  border-radius: 25px;
  white-space: normal;
  overflow: visible;
  text-overflow: ellipsis;
  max-width: none;
  /* transition: max-width 0.01s ease; */
}