.guideline {
  margin: 2rem;
  padding: 2rem;
  border-radius: 10px;
}
.guideHeading {
  font-size: 3rem;
  /* text-decoration: underline; */
}
.guideTitle {
  font-weight: 400;
  color: #1c1777;
  margin-bottom: 0.3rem;
  /* font-style: italic; */
}
.guideDescription {
  font-weight: 300;
}
li {
  margin: 1rem;
}

/* Description */
.guideDescription {
  border-radius: 25px;
  white-space: normal;
  overflow: visible;
  text-overflow: ellipsis;
  max-width: none;
  /* transition: max-width 0.01s ease; */
}
