@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #faebc2;
  --blue-color: #1c1777;
  --orange-color: #f75700;
  --green-color: #30c038;
  --gray-color: #9c937d;
  --font-300: "Poppins", sans-serif;
  font-weight: 300;
  --font-400: "Poppins", sans-serif;
  font-weight: 400;
  --font-500: "Poppins", sans-serif;
  font-weight: 500;
  --font-600: "Poppins", sans-serif;
  font-weight: 600;
  --font-700: "Poppins", sans-serif;
  font-weight: 700;
  --font-800: "Poppins", sans-serif;
  font-weight: 800;
  --font-900: "Poppins", sans-serif;
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-300);
  color: var(--blue-color);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue-color);
  font-family: var(--font-300);
}

/*Navbar*/
.navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 2;
  transition: background-color 0.3s;
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navbar li {
  margin: 0 1.5rem;
  padding: 1rem 0.5rem;
  font-family: var(--font-300);
  font-size: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.navbar a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--green-color);
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.navbar a:hover {
  color: var(--green-color);
}

.navbar a:hover::before {
  width: 100%;
}

.opaque {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  color: var(--primary-color);
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check:checked + .navbar-menu + .checkbtn {
  background-color: transparent;
  transform: rotate(45deg);
}

.navbar-menu li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#check:checked + .navbar-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background: var(--primary-color);
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.5s;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background-color: #333 !important;
  color: white;
  padding: 0.4rem 1rem 0 1rem;
  /* box-shadow: 0 -0.143rem 0.357rem rgba(0, 0, 0, 0.2); */
  font-size: 0.857rem;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.acm-logo {
  width: auto;
  height: 3.571rem;
}

.social-icon {
  font-size: 1.714rem;
  color: white;
  margin-right: 0.714rem;
}

.divider {
  width: 100%;
  border-top: 0.071rem solid white;
  margin: 0.714rem 0;
}

.copyright {
  font-size: 0.857rem;
  font-weight: 400;
  margin-bottom: 0.714rem;
}

/* Media Queries */
@media (max-width: 780px) {
  .navbar li {
    margin: 0 1rem;
    padding: 1rem 0.5rem;
    font-family: var(--font-300);
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  .navbar li {
    margin: 0 0.5rem;
    padding: 1rem 0.5rem;
    font-family: var(--font-300);
    font-size: 1.2rem;
  }
}

@media (max-width: 560px) {
  .navbar li {
    margin: 0 0.2rem;
    padding: 1rem 0.5rem;
    font-family: var(--font-300);
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  .acm-logo {
    width: auto;
    height: 3rem;
  }

  .social-icon {
    font-size: 1.3rem;
    color: white;
    margin-right: 0.714rem;
  }

  .checkbtn {
    display: block;
    margin-top: 1rem;
  }

  .navbar-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
    top: 0;
    left: -100%;
    text-align: center;
    transition: all 0.5s !important;
  }

  .navbar-menu li {
    display: flex;
    flex-direction: column;
  }

  .navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--green-color);
    transform: translateX(-50%);
    transition: width 0.3s ease-in-out;
  }

  .navbar a:hover {
    color: var(--green-color);
  }

  .navbar a:hover::before {
    width: 50%;
  }

  .checkbtn {
    display: block;
    margin: 1rem 1rem 1rem 0;
    color: var(--green-color);
  }

  .checkbtn:checked {
    color: #30c038;
  }

  .navbar-menu.open {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
  }

  .navbar-menu li {
    display: flex;
    flex-direction: column;
  }

  .navbar-menu.closed {
    transform: translateX(-100%);
  }
}
