@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #faebc2;
  --blue-color: #1c1777;
  --orange-color: #f75700;
  --green-color: #30c038;
  --gray-color: #9c937d;
  --font-100: "Poppins", sans-serif;
  font-weight: 100;
  --font-200: "Poppins", sans-serif;
  font-weight: 200;
  --font-300: "Poppins", sans-serif;
  font-weight: 300;
  --font-400: "Poppins", sans-serif;
  font-weight: 400;
  --font-500: "Poppins", sans-serif;
  font-weight: 500;
  --font-600: "Poppins", sans-serif;
  font-weight: 600;
  --font-700: "Poppins", sans-serif;
  font-weight: 700;
  --font-800: "Poppins", sans-serif;
  font-weight: 800;
  --font-900: "Poppins", sans-serif;
  font-weight: 900;
}

html::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--blue-color);
  font-family: var(--font-100);
}

.custom-fontsize {
  color: whitesmoke;
  font-family: var(--font-300);
  font-size: 50px;
}
